/* bod {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
     max-width: 1200px; /*Increased maximum width*/
     /* background-color: #dfe6e9;
    text-align: center;
    display: inline-flex;
  }  */ 
  
  .heading {
    text-align: center;
    font-size: 2em;
    color: #0e3d4a;
    margin: 20px 0 30px;
  }
  
 

.card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #789461;
    margin: 20px;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
    width: calc(100% - 40px); /* Adjust card width for three cards in a row */
    max-width: 350px; /* Maximum width for each card */
    display: inline-flex;
  }
  
  @media (max-width: 508px) {
    .card {
      width: 10%; /* Full width for cards on smaller screens */
      max-width: none; /* Remove max-width restriction */
    }
  }
  
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #294B29;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .des {
    font-size: 1.75em;
    color: #DBE7C9;
    display: flex;
    flex: 1;
    margin: 05% 20px 0;
  }
  
  .card img {
    margin: 30px 20px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }
  
  .bottom {
    margin-top: 100px;
  }
  
  .info {
    margin: 0.05px 0;
    color: #50623A;
  }
  
  @media (max-width: 992px) {
    .card {
      flex: 0 0 calc(50% - 40px); /* Adjusted width for two cards in a row on smaller screens */
      max-width: calc(50% - 40px); /* Adjusted max-width for responsiveness */
    }
  }
  
  @media (max-width: 576px) {
    .card {
      flex: 0 0 calc(100% - 40px); /* Adjusted width for one card per row on smaller screens */
      max-width: calc(100% - 40px); /* Adjusted max-width for responsiveness */
    }
  }
  