.Entravaganza_Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100vw;
}

#particles canvas {
    z-index: -10;
    position: absolute;
    height: 100%;
    width: 100vw;
}

.Entravaganza_Heading {
    width: 100%;
    text-align: center;
    color: white;
    padding: 2rem;
    font-size: xx-large;
}

.Entravaganza_Schedule_Box {
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Entravaganza_Schedule_heading {
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Event_circle {
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    height: 13px;
    width: 13px;
}
.Event_line{
    width: 3px;
    height: 100%;
    display: inline-block;
    background-color: white;
}

.Event_flowline {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Events_box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    width: 100%;
}
.SubEvent_box{
    padding: .2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Event_Date{
    text-align: center;
    padding-bottom: 1rem;
    font-size: x-large;
    width: 100%;
    
}
.SubEvent_heading{
    font-size: large;
    margin: .2rem;
}
.SubEvent_venue{
    font-size: smaller;
    margin: .1rem;
    display: flex;
    align-items: center;
}
.SubEvent_Time{
    font-size: smaller;
    display: flex;
    align-items: center;
    margin: .1rem;
}
.SubEvent_venue_icon{
    font-size: large;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.Empty_box{
    width: 45%;
}
.Event_box_right{
    width: 45%;
}
.Event_box_left{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media only screen and (max-width: 640px) {
    .Entravaganza_Schedule_Box{
        width: 98%;
    }
  }